# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
logs/*.log
!logs/.gitkeep
local_settings.py
db.sqlite3
db.sqlite3-journal

# Environments
.env
!.env.example
.gitenv
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Static and Media
staticfiles/
/media/

# IDEs
.vscode/
.idea/
*.swp
*.swo

full_sync.cmd
# Scripts & Local Tools
menu.cmd
menu.exe
menu.o
menu.conf
*.conf

# OS files
.DS_Store
Thumbs.db
