Django>=4.2,<5.0
pillow>=11.0.0
sqlparse
tzdata
whitenoise
python-dotenv
psycopg[binary]
PyMySQL>=1.1.0

# xhtml2pdf pinned for cPanel shared hosting (no sudo) compatibility
xhtml2pdf==0.2.15
html5lib==1.1
pypdf>=3.1.0
arabic-reshaper>=3.0.0
python-bidi>=0.4.2
cssselect2>=0.2.0
tinycss2>=0.6.0
lxml>=4.9.0
svglib==1.5.1
reportlab>=4.0.4,<4.1
pyHanko
pyhanko-certvalidator
chardet<6